<div class="container">
    
    <div ng-if="isAuthenticated() && currentUser.username">
        <div class="row">
            <div ng-repeat="photo in photos" class="col-lg-2 col-sm-3 col-xs-4">
                <a href="#/photo/{{photo.id}}">
                    <img ng-src="{{photo.images.standard_resolution.url}}" class="thumbnail img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>

    <div ng-if="!isAuthenticated()">
        <div class="jumbotron">
            <h2><i class="ion-images"></i> Instagram</h2>
            <p>This is a basic Instagram clone. To continue, please log in with your Instagram account or create a new email account.</p>
            <p>
                <a href="#/login" class="btn btn-lg btn-success"><i class="ion-log-in"></i> Log in</a>
                <a href="#/signup" class="btn btn-lg btn-primary"><i class="ion-person-add"></i> Create account</a>
            </p>
        </div>
    </div>

    <div ng-if="isAuthenticated() && !currentUser.username" class="center-form panel">
        <div class="panel-body">
            <h5 class="text-center"><i class="ion-link"></i> Link Account</h5>
            <p>To complete the registration process you must link your Instagram account.</p>
            <button class="btn btn-block btn-instagram" ng-click="linkInstagram()">
                <i class="ion-social-instagram"></i> Sign in with Instagram
            </button>
        </div>
    </div>

</div>